.wrapper
    .banner
        .banner__top
            .banner__date
                .banner__date-item 21.03
                .banner__date-item 21:45
            .banner__title боснія і герцоговина <br> #[span україна]
        .banner__bottom
            .banner__bottom-bonus бонус 200₴
            .banner__bottom-text за промокодом «EUROCUP»*
        .banner__text Промокод - це спеціальний набір символів, який Гравець може використовувати для отримання бонусів при введенні промокоду у системі Організатора. Умови використання промокодів дивись на www.favbet.ua
        .banner__pers
            picture
                source(srcset="./img/pers-tab.png" media="(max-width: 1024px) and (min-height: 1000px)")
                img(src="./img/pers.png" alt="favbet.ua")
