.wrapper
    .banner
        .banner__title
            img(src="./img/text.png" alt="favbet.ua")
        .banner__pers
            img(src="./img/sam.png" alt="favbet.ua")
        .banner__bottom-txt * Під бонусом розуміється можливість отримати приз в рамках Акції “Вітальний бонус”. Деталі на <br> сайті favbet.ua. Період Акції з 01.02.2023 по 31.12.2024 року. Бонус доступний тільки для нових клієнтів.